@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

html {
    font-family: Inter, sans-serif;
    line-height: 1.5;
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

main {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}

:root {
    --color-primary: #ab0d0d;
}

button {
    cursor: pointer;
    background-color: var(--color-primary);
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 16px;
    font-size: 1rem;
    font-weight: bold;
}
